[submodule ".tmux/plugins/tmux-ressurect"]
	path = .tmux/plugins/tmux-ressurect
	url = https://github.com/tmux-plugins/tmux-resurrect.git

[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
