[submodule "dwm"]
	path = dwm
	url = https://github.com/s4pun1s7/dwm.git
[submodule "st"]
	path = st
	url = https://github.com/s4pun1s7/st.git
[submodule "slstatus"]
	path = slstatus
	url = https://github.com/s4pun1s7/slstatus.git
